@model NationalLibrary.FinalViews.UserFinalView
@{
    List<NationalLibrary.FinalViews.UserFinalView> userFinalViews = ViewData["Employees"] as List<NationalLibrary.FinalViews.UserFinalView>;
    List<NationalLibrary.FinalViews.UserFinalView> lastSignedusers = ViewData["lastSignedUsers"] as List<NationalLibrary.FinalViews.UserFinalView>;
    DateTime today = DateTime.Parse(ViewData["Today"].ToString());
    List<NationalLibrary.FinalViews.BookFinalView> bookFinalViews = ViewData["Books"] as List<NationalLibrary.FinalViews.BookFinalView>;
    List<NationalLibrary.FinalViews.BookFinalView> lastBuyedBooks = ViewData["LastBuyedBooks"] as List<NationalLibrary.FinalViews.BookFinalView>;
    int percentaceLastBuyedBooks = lastBuyedBooks.Count * 100 / 50;
    List<NationalLibrary.FinalViews.RentRequestFinalView> rentedBooks = ViewData["RentedBooks"] as List<NationalLibrary.FinalViews.RentRequestFinalView>;
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link href="~/fontawesome/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/solid.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>




    <div id="container">
        <div id="navbar">
            <a asp-action="Index" asp-controller="Home"><img id="logo" src="~/img/LogoFinale.svg" alt="" srcset=""></a>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <div class="row">
                    <a class="navbar-brand"> </a>
                    <form class="form-inline">
                    </form>
                </div>
                <div class="row"></div>
            </nav>
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#Dashboard" id="dashboardAnchor" onclick="addClass('dashboard')">
                                <img width="24px" style="margin-right: 4px;" height="24px" src="~/fontawesome/svgs/regular/house.svg"
                                     alt="" srcset="">
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="magazineAnchor" href="#Magazine" onclick="addClass('magazine')">
                                <img src="~/fontawesome/svgs/regular/store.svg" style="margin-right: 4px;" width="24px" alt=""
                                     srcset="">
                                Libreria
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Employee" id="employeeAnchor" onclick="addClass('employee')">
                                <img class="icons" style="margin-right: 4px; width: 24px; height: 24px;"
                                     src="~/fontawesome/svgs/regular/user-plus.svg" alt="" srcset="">
                                Dipendenti
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="pagesContainer" style="max-width: 100vw;">
            <div id="Dashboard">
                <!-- Popup -->
                <div id="popupBooks" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('books')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Libri Noleggiati</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>Codice Fiscale</th>
                                    <th>Nome Utente</th>
                                    <th>Cognome Utente</th>
                                    <th>Numero</th>
                                    <th>Email Utente</th>
                                    <th>ISBN</th>
                                    <th>Titolo Libro</th>
                                    <th>Richiesto Il</th>
                                    <th>Restituito Il</th>
                                </tr>
                                @foreach (NationalLibrary.FinalViews.RentRequestFinalView item in @rentedBooks)
                                {
                                    <tr>
                                        <td>@item.FiscalCode</td>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.MobilePhone</td>
                                        <td>@item.Email</td>
                                        <td>@item.ISBN</td>
                                        <td>@item.Title</td>
                                        <td>@item.RequestedOn</td>
                                        <td>@item.ReturnedOn</td>
                                    </tr>
                                }
                            </table>

                        </div>
                    </div>

                </div>
                <div id="popupUsers" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('users')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Nuovi Utenti</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>Codice Fiscale</th>
                                    <th>Nome Utente</th>
                                    <th>Cognome Utente</th>
                                    <th>Numero</th>
                                    <th>Email Utente</th>
                                </tr>
                                @foreach (NationalLibrary.FinalViews.UserFinalView item in lastSignedusers)
                                {
                                    <tr>
                                        <td>@item.FiscalCode</td>
                                        <td>@item.Name</td>
                                        <td>@item.Surname</td>
                                        <td>@item.MobilePhone</td>
                                        <td>@item.Email</td>
                                    </tr>
                                }
                            </table>

                        </div>
                    </div>

                </div>
                <div id="popupBuyedBooks" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('buyedBooks')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Libri Comprati</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>ISBN</th>
                                    <th>Autore</th>
                                    <th>Titolo Libro</th>
                                    <th>Casa Editrice</th>
                                    <th>Genere</th>
                                    <th>Richiesto Il</th>
                                </tr>
                                @foreach (NationalLibrary.FinalViews.BookFinalView item in lastBuyedBooks)
                                {
                                    <tr>
                                        <td>@item.ISBN</td>
                                        <td>@item.Author</td>
                                        <td>@item.Title</td>
                                        <td>@item.PublishingHouse</td>
                                        <td>@item.Genre</td>
                                        <td>@item.BuyDate.Day/@item.BuyDate.Month/@item.BuyDate.Year</td>
                                    </tr>
                                }
                            </table>

                        </div>
                    </div>
                </div>
                <!-- Inizio Main -->
                <main>
                    <h1 style="margin-top: 2px;">Dashboard</h1>

                    <h2 id="date">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="graph-container">
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart">
                                    <img class="icons"
                                         style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/fontawesome/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Libri Noleggiati</h4>
                                    <h2 style="margin-top: 20px;">@rentedBooks.Count</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('books')" id="books" src="~/fontawesome/svgs/solid/arrow-right-long.svg"
                                         width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background: rgb(105, 105, 224);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>@rentedBooks.Count%</h3>
                                    </div>
                                </div>
                                <h5 style="color: lightgray;">Obiettivo: 100</h5>
                            </div>
                        </div>
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart" style="background-color: rgb(224, 115, 115);">
                                    <img class="icons" style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/fontawesome/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Utenti Iscritti</h4>
                                    <h2 style="margin-top: 20px;">@lastSignedusers.Count</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('users')" id="users" src="~/fontawesome/svgs/solid/arrow-right-long.svg"
                                         width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background: rgb(224, 115, 115);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>@lastSignedusers.Count%</h3>
                                    </div>
                                </div>
                                <h5 style="color: lightgray;">Obiettivo: 100</h5>
                            </div>
                        </div>
                        <div class="graph-data-container">
                            <div class="graph-data">
                                <div class="icons-chart" style="background-color: rgb(95, 201, 95);">
                                    <img class="icons"
                                         style="margin: 4px;  width: 24px; height: 24px;"
                                         src="~/fontawesome/svgs/regular/chart-bar.svg" alt="" srcset="">
                                </div>
                                <div class="data-info">
                                    <h4>Libri comprati</h4>
                                    <h2 style="margin-top: 20px;">@lastBuyedBooks.Count</h2>
                                </div>
                                <h5 style="color: lightgray;">Ultimo mese</h5>
                            </div>
                            <div class="graph-data">
                                <div class="arrow-right">
                                    <img onclick="showData('buyedBooks')" id="buyedBooks"
                                         src="~/fontawesome/svgs/solid/arrow-right-long.svg" width="16px" alt="" srcset="">
                                </div>
                                <div class="graph" style="background: rgb(95, 201, 95);">
                                    <div class="graph" style="background-color: white; width: 60px; height: 60px;">
                                        <h3>
                                            @percentaceLastBuyedBooks%
                                        </h3>
                                    </div>
                                </div>
                                <h5 style="color: lightgray;">Obiettivo Max: 50</h5>
                            </div>
                        </div>
                    </div>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista D'Attesa</h2>
                        <table>
                            <tr>
                                <th>Codice Fiscale</th>
                                <th>Nome Utente</th>
                                <th>Cognome Utente</th>
                                <th>Numero</th>
                                <th>Email Utente</th>
                                <th>ISBN</th>
                                <th>Titolo Libro</th>
                                <th>Richiesto Il</th>
                            </tr>
                        </table>

                    </div>
                </main>
            </div>
            <div id="Magazine" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Libreria</h1>

                    <h2 id="date" style="width:20%">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="table-container">
                        <h2 id="waiting-list">Libri in libreria</h2>
                        <table>
                            <tr>
                                <th>ISBN</th>
                                <th>Titolo</th>
                                <th>Autore</th>
                                <th>Casa Editrice</th>
                                <th>Genere</th>
                                <th>Disponibile</th>
                            </tr>
                            @foreach (NationalLibrary.FinalViews.BookFinalView item in @bookFinalViews)
                            {
                                <tr>
                                    <td>@item.ISBN</td>
                                    <td style="max-width: 100px">@item.Title</td>
                                    <td>@item.Author</td>
                                    <td>@item.PublishingHouse</td>
                                    <td>@item.Genre</td>
                                    @if (@item.Available)
                                    {
                                        <td>Sì</td>
                                    }
                                    else
                                    {
                                        <td>No</td>
                                    }
                                    <td><a asp-controller="Home" asp-action="modifyBook" asp-route-id="@item.BookGuid"><img class="edit-book" src="~/img/edit.svg" /></a></td>
                                    <td><a asp-controller="Home" asp-action="deleteBook" asp-route-id="@item.BookGuid"><img class="delete-book" src="~/fontawesome/svgs/solid/delete-left.svg" /></a></td>
                                </tr>
                            }
                        </table>
                    </div>
                    <a style="margin-top:5%" asp-action="newBook" asp-controller="Home">Aggiungi Libro</a>
                </main>


            </div>
            <div id="Employee" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Dipendenti</h1>

                    <h2 id="date">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista Dei Dipendenti</h2>
                        <table>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Numero</th>
                                <th>Email</th>
                                <th>Città</th>
                                <th>Via</th>
                                <th>Provincia</th>
                                <th>CAP</th>
                            </tr>
                            @foreach (var item in userFinalViews)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.MobilePhone</td>
                                    <td>@item.Email</td>
                                    <td>@item.City</td>
                                    <td>@item.Street</td>
                                    <td>@item.Province</td>
                                    <td>@item.CAP</td>
                                </tr>
                            }
                        </table>
                    </div>
                    <a style="margin-top:5%" asp-action="addEmployee" asp-controller="Home">Aggiungi Dipendente</a>
                </main>


            </div>
        </div>
        <div class="transition-Container">
            <div id="admin-line">
                <h4 style="position: relative;
                            right: 170px;
                            bottom: 12px;">
                    Benvenuto @Model.Name
                </h4><nav>
                    <ul id="slowdown-menu" class="drop-down closed">
                        <li><img style="width: 32px" class="nav-button" onclick="openMenu()" src="~/img/admin.svg" alt=""></li>
                        <li><a>Dettagli</a></li>
                        <li><a asp-controller="Home" asp-action="logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
            <h3 style="justify-self: center; align-self: center;">Ecco le ultime transazioni</h3>
            <div class="transitions">
                @foreach (NationalLibrary.FinalViews.BookFinalView item in @lastBuyedBooks)
                {
                    <div class="transition">
                        <div>
                            <h5>Transazione: @item.Title</h5>
                            <h5>Totale speso: @item.Price€</h5>
                        </div>
                        <img width="32px" style="align-self: center; justify-self:center; margin-bottom: 10px;" src="~/img/graphDown.svg" alt="">
                    </div>

                }
            </div>
        </div>
    </div>
    <script>
        var books = document.getElementById("popupBooks");
        var users = document.getElementById("popupUsers");
        var popupbuyedBooks = document.getElementById("popupBuyedBooks");
        function addClass(navItem) {
            if (navItem == "magazine") {
                dashboardAnchor.classList.remove("active");
                employeeAnchor.classList.remove("active");
                magazineAnchor.classList.add("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.remove("hidden");
                document.getElementById("Employee").classList.add("hidden");
            }
            else if (navItem == "dashboard") {
                magazineAnchor.classList.remove("active");
                dashboardAnchor.classList.add("active");
                employeeAnchor.classList.remove("active");
                document.getElementById("Dashboard").classList.remove("hidden");
                document.getElementById("Magazine").classList.add("hidden");
                document.getElementById("Employee").classList.add("hidden");
            }
            else {
                employeeAnchor.classList.add("active");
                dashboardAnchor.classList.remove("active");
                magazineAnchor.classList.remove("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.add("hidden");
                document.getElementById("Employee").classList.remove("hidden");
            }
        }
        function hideData(dataToHide) {
            dataToHide.classList.add('visuallyhidden');
            dataToHide.addEventListener('transitionend', function (e) {
                dataToHide.classList.add('hidden');
                dataToHide.classList.remove('visible');
            }, {
                capture: false,
                once: true,
                passive: false
            }, false);

        }
        function showData(dataToShow) {
            document.getElementById("container").disabled = true;
            console.log(document.getElementById("container"))
            console.log(dataToShow);
            switch (dataToShow) {
                case "books":
                    if (books.classList.contains("hidden") == true) {
                        books.classList.remove('hidden');
                        books.classList.add('visible');
                        setTimeout(function () {
                            books.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(books);
                    }
                    break;
                case "users":
                    if (users.classList.contains("hidden") == true) {
                        users.classList.remove('hidden');
                        users.classList.add('visible');
                        setTimeout(function () {
                            users.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(users);
                        // this.style.filter = blur('4px');
                    }
                    break;
                case "buyedBooks":
                    if (popupbuyedBooks.classList.contains("hidden") == true) {
                        popupbuyedBooks.classList.remove('hidden');
                        popupbuyedBooks.classList.add('visible');
                        setTimeout(function () {
                            popupbuyedBooks.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(popupbuyedBooks);
                    }
                    break;
            }
        }
        var arrowbooks = document.getElementById("books");
        var arrowUsers = document.getElementById("users");
        var arrowbuyedBooks = document.getElementById("buyedBooks");
        function openMenu() {
            document.getElementById("slowdown-menu").classList.toggle('closed');
        }
                                                                                                                 // window.onclick = function (event) {
                                                                                                                                                                    //     console.log(document.getElementById("popupBooks").classList.contains("hidden"))
                                                                                                                                                                    //     console.log(arrowbooks)
                                                                                                                                                                    //     if (event.target != arrowbooks && event.target != document.getElementById("popupBooks") && document.getElementById("popupBooks").classList.contains("hidden") == false) {
                                                                                                                                                                    //         hideData("books")
                                                                                                                                                                    //     }
                                                                                                                                                                    //     if (event.target != arrowbooks && event.target != document.getElementById("popupUsers") && document.getElementById("popupUsers").classList.contains("hidden") == false) {
                                                                                                                                                                    //         hideData("users")
                                                                                                                                                                    //     }
                                                                                                                                                                    //     if (event.target != arrowbuyedbooks && event.target != document.getElementById("popupBuyedBooks") && document.getElementById("popupBuyedBooks").classList.contains("hidden") == false) {
                                                                                                                                                                    //         hideData("buyedBooks")
                                                                                                                                                                    //     }
                                                                                                                                                                    // }
    </script>
</body>
