@model NationalLibrary.FinalViews.UserFinalView
@{
    List<NationalLibrary.FinalViews.UserFinalView> userFinalViews = ViewData["Users"] as List<NationalLibrary.FinalViews.UserFinalView>;
    DateTime today = DateTime.Parse(ViewData["Today"].ToString());
    List<NationalLibrary.FinalViews.BookFinalView> bookFinalViews = ViewData["Books"] as List<NationalLibrary.FinalViews.BookFinalView>;
    int count = 0;
    List<string> image = ViewData["Images"] as List<string>;
    List<NationalLibrary.FinalViews.RentRequestFinalView> rentedBooks = ViewData["RentedBooks"] as List<NationalLibrary.FinalViews.RentRequestFinalView>;
    List<NationalLibrary.FinalViews.UserRequestFinalView> requestFinalView = ViewData["RequestFinalView"] as List<NationalLibrary.FinalViews.UserRequestFinalView>;
    var tutor = new NationalLibrary.FinalViews.UserFinalView();
}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">
    <link href="~/fontawesome/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/solid.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <div id="container">
        <div id="navbar">
            <a asp-action="Index" asp-controller="Home"><img id="logo" src="~/img/LogoFinale.svg" alt="" srcset=""></a>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <div class="row">
                    <a class="navbar-brand"> </a>
                    <form class="form-inline">
                    </form>
                </div>
                <div class="row"></div>
            </nav>
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#Dashboard" id="dashboardAnchor" onclick="addClass('dashboard')">
                                <img width="24px" style="margin-right: 4px;" height="24px" src="~/fontawesome/svgs/regular/house.svg"
                                     alt="" srcset="">
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="magazineAnchor" href="#Magazine" onclick="addClass('magazine')">
                                <img src="~/fontawesome/svgs/regular/store.svg" style="margin-right: 4px;" width="24px" alt=""
                                     srcset="">
                                Libreria
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="rentAnchor" href="#RentList" onclick="addClass('RentList')">
                                <img src="~/fontawesome/svgs/regular/store.svg" style="margin-right: 4px;" width="24px" alt=""
                                     srcset="">
                                Libri Noleggiati
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="requestBookAnchor" href="#RequestList" onclick="addClass('requestList')">
                                <img src="~/fontawesome/svgs/regular/store.svg" style="margin-right: 4px;" width="24px" alt=""
                                     srcset="">
                                Libri Richiesti
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Employee" id="employeeAnchor" onclick="addClass('employee')">
                                <img class="icons" style="margin-right: 4px; width: 24px; height: 24px;"
                                     src="~/fontawesome/svgs/regular/user-plus.svg" alt="" srcset="">
                                Utenti
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="pagesContainer" style="max-width: 100vw;">
            <div id="Dashboard">
                <!-- Popup -->
                <div id="popupBooks" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('books')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Libri Noleggiati</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>Codice Fiscale</th>
                                    <th>Nome Utente</th>
                                    <th>Cognome Utente</th>
                                    <th>Numero</th>
                                    <th>Email Utente</th>
                                    <th>ISBN</th>
                                    <th>Titolo Libro</th>
                                    <th>Richiesto Il</th>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
                <div id="popupUsers" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('users')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Nuovi Utenti</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>Codice Fiscale</th>
                                    <th>Nome Utente</th>
                                    <th>Cognome Utente</th>
                                    <th>Numero</th>
                                    <th>Email Utente</th>
                                </tr>
                            </table>

                        </div>
                    </div>

                </div>
                <div id="popupBuyedBooks" class="modal hidden">

                    <!-- Modal content -->
                    <div class="modal-content">
                        <span class="close" onclick="showData('buyedBooks')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Libri In Attesa</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>ISBN</th>
                                    <th>Autore</th>
                                    <th>Titolo Libro</th>
                                    <th>Richiesto Il</th>
                                    <th>Arrivato Il</th>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>

                <!-- Modal content -->
                <div id="popupBookToBuy" class="modal hidden">

                    <div class="modal-content">
                        <span class="close" onclick="showData('booksToBuy')">&times;</span>
                        <div class="table-container" style="overflow-y: hidden; height: 100%;">
                            <h2 id="waiting-list">Libri In Attesa</h2>
                            <table style="margin-top:0px; max-height: 570px;">
                                <tr>
                                    <th>ISBN</th>
                                    <th>Autore</th>
                                    <th>Titolo Libro</th>
                                    <th>Richiesto Il</th>
                                    <th>Arrivato Il</th>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- Inizio Main -->
                <main>
                    <h1 style="margin-top: 2px;">Dashboard</h1>

                    <h2 id="date">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista D'Attesa</h2>
                        <table>
                            <tr>
                                <th>Codice Fiscale</th>
                                <th>Nome Utente</th>
                                <th>Cognome Utente</th>
                                <th>Numero</th>
                                <th>Email Utente</th>
                                <th>ISBN</th>
                                <th>Titolo Libro</th>
                                <th>Richiesto Il</th>
                            </tr>
                        </table>

                    </div>
                </main>


            </div>
            <div id="Magazine" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Libreria</h1>

                    <h2 id="date" style="width:20%">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="card-container">
                        @foreach (NationalLibrary.FinalViews.BookFinalView item in bookFinalViews)
                        {
                            @if (item.Available && item.Room != null)
                            {
                                count++;
                                <a class="card" asp-controller="Home" asp-action="viewBookFromUser" asp-route-id="@item.BookGuid">
                                    <img style="border-start-end-radius: 20px" src="@image[count - 1]" alt="">
                                    <div class="card-description">
                                        <p>@item.Title</p>
                                    </div>
                                </a>
                            }
                            else if (item.Room != null)
                            {
                                count++;
                                <a style="opacity: 35%" class="card">
                                    <img style="border-start-end-radius: 20px" src="@image[count - 1]" alt="">
                                    <div class="card-description">
                                        <p>@item.Title</p>
                                    </div>
                                </a>
                            }
                            else
                            {
                                count++;
                                <a style="opacity: 35%" class="card">
                                    <p class="incoming">In Arrivo</p>
                                    <img style="border-start-end-radius: 20px" src="@image[count - 1]" alt="">
                                    <div class="card-description">
                                        <p>@item.Title</p>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                    <a style="margin-top:5%" asp-action="newBook" asp-controller="Home">Aggiungi Libro</a>
                </main>
            </div>
            <!-- RentList -->
            <div id="RentList" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Libreria</h1>

                    <h2 id="date" style="width:20%">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <table style="margin-top:0px; max-height: 570px;">
                        <tr>
                            <th>Nome Utente</th>
                            <th>Cognome Utente</th>
                            <th>Numero</th>
                            <th>Email Utente</th>
                            <th>ISBN</th>
                            <th>Titolo Libro</th>
                            <th>Ritirato Il</th>
                            <th>Restituito Il</th>
                        </tr>
                        @foreach (NationalLibrary.FinalViews.RentRequestFinalView item in @rentedBooks)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.MobilePhone</td>
                                <td>@item.Email</td>
                                <td>@item.ISBN</td>
                                <td>@item.Title</td>
                                @if (item.WithdrawnOn.Value.Year == 1)
                                {
                                    <td><a asp-action="bookWithdrawned" asp-controller="Home" asp-route-id="@item.BookGuid"><img style="cursor: pointer;" width="24px" src="~/fontawesome/svgs/solid/check.svg" /></a></td>
                                }
                                else
                                {
                                    <td>@item.WithdrawnOn.Value.Day/@item.WithdrawnOn.Value.Month/@item.WithdrawnOn.Value.Year</td>
                                }
                                @if (item.ReturnedOn == null)
                                {
                                    <td><a asp-action="bookReturned" asp-controller="Home" asp-route-id="@item.RentGuid"><img style="cursor: pointer;" width="24px" src="~/fontawesome/svgs/solid/check.svg" /></a></td>
                                }
                                else
                                {
                                    <td>@item.ReturnedOn.Value.Day/@item.ReturnedOn.Value.Month/@item.ReturnedOn.Value.Year</td>
                                }
                            </tr>
                        }
                    </table>
                </main>
            </div>
            <!-- Richiesta Acquisto Nuovi Libri -->
            <div id="RequestList" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Richieste di Acquisto Nuovi Libri</h1>

                    <h2 id="date" style="width:20%">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <table style="margin-top:0px; max-height: 570px;">
                        <tr>
                            <th>Nome Utente</th>
                            <th>Cognome Utente</th>
                            <th>Numero</th>
                            <th>Email Utente</th>
                            <th>Titolo Libro</th>
                            <th>Autore</th>
                            <th>Richiesto Il</th>
                        </tr>
                        @foreach (NationalLibrary.FinalViews.UserRequestFinalView item in @requestFinalView)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.MobilePhone</td>
                                <td>@item.Email</td>
                                <td>@item.Title</td>
                                <td>@item.Author</td>
                                <td>@item.RequestDate.Day/@item.RequestDate.Month/@item.RequestDate.Year</td>
                                @if (item.State == "In Lavorazione")
                                {
                                    <td><a asp-controller="Home" asp-action="acceptBook" asp-route-id="@item.RequestGuid"><img class="edit-book" src="~/fontawesome/svgs/solid/check.svg"></a></td>
                                    <td><a asp-controller="Home" asp-action="discardBook" asp-route-id="@item.RequestGuid"><img class="delete-book" src="~/fontawesome/svgs/solid/delete-left.svg" /></a></td>
                                }
                                else if(item.State == "Accettata"){
                                    <td>Accettata</td>
                                }
                                else
                                {
                                    <td>Rifiutata</td>
                                }
                            </tr>
                        }
                    </table>
                </main>
            </div>
            <!-- Users -->
            <div id="Employee" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Users</h1>

                    <h2 id="date">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista Degli Utenti</h2>
                        <table>
                            <tr>
                                <th>Nome</th>
                                <th>Cognome</th>
                                <th>Numero</th>
                                <th>Email</th>
                                <th>Città</th>
                                <th>Via</th>
                                <th>Provincia</th>
                                <th>CAP</th>
                                <th></th>
                                <th></th>
                            </tr>
                            @foreach (var item in userFinalViews)
                            {
                                @*Console.WriteLine("CTX"+ViewData["LibraryContext"]);*@
                                <tr>
                                    @if(item.FCRelatedTO != String.Empty){
                                        tutor = NationalLibrary.Metodi.DataQueries.getUserByFK(item.FCRelatedTO, ViewData["LibraryContext"] as LibraryContext);
                                        <td>
                                            <a id="tutorLink" 
                                                title="Utente Minorenne! Clicca per i dettagli del tutor"
                                                style="cursor: pointer;"
                                            >
                                                <u><i>@item.Name</i></u></a>
                                            </td>
                                    } else {
                                        <td>@item.Name</td>
                                    }
                                    <td>@item.Surname</td>
                                    <td>@item.MobilePhone</td>
                                    <td>@item.Email</td>
                                    <td>@item.City</td>
                                    <td>@item.Street</td>
                                    <td>@item.Province</td>
                                    <td>@item.CAP</td>
                                    <td><a asp-controller="Home" asp-action="modifyUser" asp-route-id="@item.FiscalCode"><img class="edit-book" src="~/img/edit.svg" /></a></td>
                                    <td><a asp-controller="Home" asp-action="deleteUser" asp-route-id="@item.FiscalCode"><img class="delete-book" src="~/fontawesome/svgs/solid/delete-left.svg" /></a></td>
                                </tr>
                            }
                        </table>
                    </div>
                    <a style="margin-top:5%" asp-action="addUser" asp-controller="Home">Aggiungi Utente</a>
                </main>


            </div>
        </div>
        <div class="transition-Container">
            <div id="admin-line">
                <h4 style="position: relative;
                            right: 170px;
                            /* justify-self: center; */
                            /* align-self: center; */
                            bottom: 12px;">
                    Benvenuto @Model.Name
                </h4>
                <nav>
                    <ul id="slowdown-menu" class="drop-down closed" onclick="openMenu()">
                        <li><img style="width: 32px" class="nav-button" src="~/img/admin.svg" alt=""></li>
                        <li>
                            <a href="#" id="detailsLink">Details</a>
                        </li>
                        <li><a asp-controller="Home" asp-action="logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
   
    @await Html.PartialAsync("~/wwwroot/partial-cshtml/tutorModal.cshtml", tutor);
    @await Html.PartialAsync("~/wwwroot/partial-cshtml/detailsModal.cshtml", Model);

    <script>
        var books = document.getElementById("popupBooks");
        var users = document.getElementById("popupUsers");
        var popupbuyedBooks = document.getElementById("popupBuyedBooks");
        function addClass(navItem) {
            if (navItem == "magazine") {
                dashboardAnchor.classList.remove("active");
                requestBookAnchor.classList.remove("active");
                employeeAnchor.classList.remove("active");
                rentAnchor.classList.remove("active");
                magazineAnchor.classList.add("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.remove("hidden");
                document.getElementById("RentList").classList.add("hidden");
                document.getElementById("Employee").classList.add("hidden");
                document.getElementById("RequestList").classList.add("hidden");
            }
            else if (navItem == "dashboard") {
                magazineAnchor.classList.remove("active");
                dashboardAnchor.classList.add("active");
                employeeAnchor.classList.remove("active");
                rentAnchor.classList.remove("active");
                requestBookAnchor.classList.remove("active");
                document.getElementById("Dashboard").classList.remove("hidden");
                document.getElementById("Magazine").classList.add("hidden");
                document.getElementById("Employee").classList.add("hidden");
                document.getElementById("RentList").classList.add("hidden");
                document.getElementById("RequestList").classList.add("hidden");
            }
            else if (navItem == "employee") {
                employeeAnchor.classList.add("active");
                dashboardAnchor.classList.remove("active");
                magazineAnchor.classList.remove("active");
                rentAnchor.classList.remove("active");
                requestBookAnchor.classList.remove("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.add("hidden");
                document.getElementById("Employee").classList.remove("hidden");
                document.getElementById("RentList").classList.add("hidden");
                document.getElementById("RequestList").classList.add("hidden");
            }
            else if (navItem == "requestList") {
                employeeAnchor.classList.remove("active");
                dashboardAnchor.classList.remove("active");
                magazineAnchor.classList.remove("active");
                rentAnchor.classList.remove("active");
                requestBookAnchor.classList.add("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.add("hidden");
                document.getElementById("Employee").classList.add("hidden");
                document.getElementById("RentList").classList.add("hidden");
                document.getElementById("RequestList").classList.remove("hidden");
            }
            else {
                employeeAnchor.classList.remove("active");
                dashboardAnchor.classList.remove("active");
                magazineAnchor.classList.remove("active");
                requestBookAnchor.classList.remove("active");
                rentAnchor.classList.add("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.add("hidden");
                document.getElementById("Employee").classList.add("hidden");
                document.getElementById("RentList").classList.remove("hidden");
                document.getElementById("RequestList").classList.add("hidden");
            }
        }
        function hideData(dataToHide) {
            dataToHide.classList.add('visuallyhidden');
            dataToHide.addEventListener('transitionend', function (e) {
                dataToHide.classList.add('hidden');
                dataToHide.classList.remove('visible');
            }, {
                capture: false,
                once: true,
                passive: false
            }, false);

        }
        function showData(dataToShow) {
            document.getElementById("container").disabled = true;
            console.log(document.getElementById("container"))
            console.log(dataToShow);
            switch (dataToShow) {
                case "books":
                    if (books.classList.contains("hidden") == true) {
                        books.classList.remove('hidden');
                        books.classList.add('visible');
                        setTimeout(function () {
                            books.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(books);
                    }
                    break;
                case "users":
                    if (users.classList.contains("hidden") == true) {
                        users.classList.remove('hidden');
                        users.classList.add('visible');
                        setTimeout(function () {
                            users.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(users);
                        // this.style.filter = blur('4px');
                    }
                    break;
                case "buyedBooks":
                    if (popupbuyedBooks.classList.contains("hidden") == true) {
                        popupbuyedBooks.classList.remove('hidden');
                        popupbuyedBooks.classList.add('visible');
                        setTimeout(function () {
                            popupbuyedBooks.classList.remove('visuallyhidden');
                        }, 20);
                    }
                    else {
                        hideData(popupbuyedBooks);
                    }
                    break;
            }
        }
        var arrowbooks = document.getElementById("books");
        var arrowUsers = document.getElementById("users");
        var arrowbuyedBooks = document.getElementById("buyedBooks");
        function openMenu() {
            document.getElementById("slowdown-menu").classList.toggle('closed');
        }
    </script>
</body>
