@model NationalLibrary.FinalViews.BookFinalView
@{
    string image = ViewData["Image"] as string;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/newBook.css">
    <title>Document</title>
</head>
<body>

    <main>
        <div class="title-container">
            <h1 class="newbook-title" style="margin=20px 0 0 0;">Modifica libro</h1>
        </div>

        <div class="container">
            <div class="sub-container">
                <form class="form-book" enctype="multipart/form-data" method="post">
                    <div class="label-container">
                        <!-- Titolo -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Title" />
                            <span class="placeholder">Titolo</span>
                            <span asp-validation-for="@Model.Title" class="text-red"></span>
                        </label>
                        <!-- Autore -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Author" />
                            <span class="placeholder">Autore</span>
                            <span asp-validation-for="@Model.Author" class="text-red"></span>
                        </label>
                    </div>

                    <div class="label-container">
                        <!-- ISBN -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.ISBN" />
                            <span class="placeholder">ISBN</span>
                            <span asp-validation-for="@Model.ISBN" class="text-red"></span>
                        </label>
                        <!-- Casa Editrice -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.PublishingHouse" />
                            <span class="placeholder">Casa Editrice</span>
                            <span asp-validation-for="@Model.PublishingHouse" class="text-red"></span>
                        </label>
                    </div>


                    <div class="label-container">
                        <!-- Reparto -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Room" />
                            <span class="placeholder">Sezione biblioteca</span>
                            <span asp-validation-for="@Model.Room" class="text-red"></span>
                        </label>
                        <!-- Scaffale -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Scaffhold" />
                            <span class="placeholder">Scaffale</span>
                            <span asp-validation-for="@Model.Scaffhold" class="text-red"></span>
                        </label>
                    </div>

                    <div class="label-container">
                        <!-- Ripiano -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Shelf" />
                            <span class="placeholder">Ripiano</span>
                            <span asp-validation-for="@Model.Shelf" class="text-red"></span>
                        </label>
                        <!-- Posizione -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Position" />
                            <span class="placeholder">Posizione N.</span>
                            <span asp-validation-for="@Model.Position" class="text-red"></span>
                        </label>
                    </div>

                    <div class="label-container">
                        <!-- Genere -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Genre" />
                            <span class="placeholder">Genere</span>
                            <span asp-validation-for="@Model.Genre" class="text-red"></span>
                        </label>
                        <!-- Prezzo -->
                        <label class="custom-field">
                            <input type="text" placeholder=" " asp-for="@Model.Price" />
                            <span class="placeholder">Prezzo</span>
                            <span asp-validation-for="@Model.Price" class="text-red"></span>
                        </label>
                    </div>

                    <!-- Trama -->
                    <textarea style="width: 100%; margin-top: 10px; border-radius: 3px; padding: 10px; background-color: transparent; border: 2px solid #ddd;" rows="4" placeholder="Inserisci la trama del libro..." asp-for="@Model.Presentation">@Model.Presentation</textarea>
                    <span asp-validation-for="@Model.Presentation" class="text-red"></span>

                    <!-- Immagine di copertina -->
                    <label for="" class="label-file">Scegli l'immagine di cover:</label>
                    <img src="@image" />
                    <input type="file" name="CoverImg" class="input-file" asp-for="@Model.CoverImg">

                    @*<div class="label-container">
                        <!-- Copie in possesso -->
                        <label class="custom-field">
                            <input type="text" placeholder=" "/>
                            <span class="placeholder">Copie in possesso</span>
                        </label>
                    </div>*@

                    <div class="button-container">
                        <Button class="special-button red" type="submit" asp-action="router" asp-controller="Home">Annulla Modifica</Button>
                        <Button class="special-button" type="submit" asp-action="postModifyBook" asp-controller="Home">Conferma Modifica</Button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>