@model NationalLibrary.FinalViews.UserFinalView

@{
    DateTime today = DateTime.Parse(ViewData["Today"].ToString());
    List<NationalLibrary.FinalViews.BookFinalView> bookFinalViews = ViewData["Books"] as List<NationalLibrary.FinalViews.BookFinalView>;
    int count = 0;
    List<string> image = ViewData["Images"] as List<string>;
}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/dashboard.css">


    <link href="~/fontawesome/font-awesome/css/fontawesome.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/brands.css" rel="stylesheet">
    <link href="~/fontawesome/font-awesome/css/solid.css" rel="stylesheet">
    <title>Document</title>
</head>

<body>

    <div id="container">
        <div id="navbar">
            <a asp-action="Index" asp-controller="Home"><img id="logo" src="~/img/LogoFinale.svg" alt="" srcset=""></a>
            <nav class="navbar navbar-light bg-light justify-content-between">
                <div class="row">
                    <a class="navbar-brand"> </a>
                    <form class="form-inline">
                    </form>
                </div>
                <div class="row"></div>
            </nav>
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#Dashboard" id="dashboardAnchor" onclick="addClass('dashboard')">
                                <img width="24px" style="margin-right: 4px;" height="24px" src="~/fontawesome/svgs/regular/house.svg"
                                     alt="" srcset="">
                                Dashboard <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="magazineAnchor" href="#Magazine" onclick="addClass('magazine')">
                                <img src="~/fontawesome/svgs/regular/store.svg" style="margin-right: 4px;" width="24px" alt=""
                                     srcset="">
                                Libreria
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <div id="pagesContainer" style="max-width: 100vw;">
            <div id="Dashboard">
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 60% 5% auto;">
                    <h1 style="margin-top: 2px;">Dashboard</h1>

                    <h2 id="date">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="table-container">
                        <h2 id="waiting-list">Lista D'Attesa</h2>
                        <table>
                            <tr>
                                <th>ISBN</th>
                                <th>Titolo Libro</th>
                                <th>Autore Libro</th>
                                <th>Genere Libro</th>
                                <th>Casa Editrice</th>
                                <th>Richiesto Il</th>
                            </tr>
                        </table>

                    </div>
                </main>


            </div>
            <div id="Magazine" class="hidden">
                <!-- Popup -->
                <!-- Inizio Main -->
                <main style="grid-template-rows: 5% 5% 80% 5%">
                    <h1 style="margin-top: 2px;">Libreria</h1>

                    <h2 id="date">
                        @today.Day/@today.Month/@today.Year<img class="icons" style="margin: 4px;" src="~/fontawesome/svgs/solid/calendar-days.svg"
                                                                alt="" srcset="">
                    </h2>
                    <div class="card-container">
                        @foreach (NationalLibrary.FinalViews.BookFinalView item in bookFinalViews)
                        {
                            @if (item.Available)
                            {
                                count++;
                                <a class="card" asp-controller="Home" asp-action="viewBookFromUser" asp-route-id="@item.BookGuid">
                                    <img style="border-start-end-radius: 20px" src="@image[count - 1]" alt="">
                                    <div class="card-description">
                                        <p>@item.Title</p>
                                    </div>
                                </a>
                            }
                            else
                            {
                                count++;
                                <a style="opacity: 35%" class="card">
                                    <img style="border-start-end-radius: 20px" src="@image[count - 1]" alt="">
                                    <div class="card-description">
                                        <p>@item.Title</p>
                                    </div>
                                </a>
                            }
                        }
                    </div>
                </main>


            </div>
        </div>
        <div class="transition-Container">
            <div id="admin-line">
                <h4 style="position: relative;
                            right: 170px;
                            /* justify-self: center; */
                            /* align-self: center; */
                            bottom: 12px;">
                    Benvenuto @Model.Name
                </h4>
                <nav>
                    <ul id="slowdown-menu" class="drop-down closed">
                        <li><img style="width: 32px" class="nav-button" onclick="openMenu()" src="~/img/admin.svg" alt=""></li>
                        <li>
                            <a href="#" id="detailsLink">Details</a>
                        </li>
                        <li><a asp-controller="Home" asp-action="logout">Logout</a></li>
                    </ul>
                </nav>
            </div>
            <div>
                <div class="bookToAdd">
                    <h3>Non hai trovato ciò che cercavi?</h3>
                    <p>
                        Puoi richiedere un libro <br />
                        in qualsiasi momento. Valuteremo <br />
                        la tua richiesta e cercheremo di accontentarla!
                    </p>
                    <div>
                        <form asp-action="dashboard" asp-controller="Home" method="post">
                            <div style="display: grid;
                            grid-template-columns: 50% 80% !important;
                            width: 20%;
                            column-gap: 50%;">
                                <img src="~/fontawesome/svgs/solid/book.svg" style="border-top: 29px solid transparent;" width="24px" alt="">
                                <label style="width: 200px;" class="custom-field">
                                    <input asp-for="@Model.Name" style="width: 100%;" type="text" placeholder=" " />
                                    <span class="placeholder">Inserisci Username</span>
                                </label>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Html.PartialAsync("~/wwwroot/partial-cshtml/detailsModel.cshtml", Model)


    <script>
        var books = document.getElementById("popupBooks");
        var users = document.getElementById("popupUsers");
        var popupbuyedBooks = document.getElementById("popupBuyedBooks");
        function addClass(navItem) {
            if (navItem == "magazine") {
                dashboardAnchor.classList.remove("active");
                magazineAnchor.classList.add("active");
                document.getElementById("Dashboard").classList.add("hidden");
                document.getElementById("Magazine").classList.remove("hidden");
            }
            else {
                magazineAnchor.classList.remove("active");
                dashboardAnchor.classList.add("active");
                document.getElementById("Dashboard").classList.remove("hidden");
                document.getElementById("Magazine").classList.add("hidden");
            }
        }
        function hideData(dataToHide) {
            dataToHide.classList.add('visuallyhidden');
            dataToHide.addEventListener('transitionend', function (e) {
                dataToHide.classList.add('hidden');
                dataToHide.classList.remove('visible');
            }, {
                capture: false,
                once: true,
                passive: false
            }, false);

        }
        function openMenu() {
            document.getElementById("slowdown-menu").classList.toggle('closed');
        }
    </script>

</body>
